<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">

      <div class="item item-avatar">
        <img src="mcfly.jpg">
        <h2>{{clickedWanna.content}}</h2>
        <p>{{clickedWanna.user_name}}</p>
      </div>

      <div class="item item-body">
        <p>
            {{clickedWanna.description}}
        </p>
        <!--<img class="full-image" src="delorean.jpg">-->

        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
